@import "tailwindcss";

@theme inline {
  --color-background: #e3ece5;
  --color-foreground: #171717;
  --color-card: #ffffff;
  --color-footer: #e1ede2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #e3ece5;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar for Modals */
.modal-scroll-area::-webkit-scrollbar {
  width: 6px;
}

.modal-scroll-area::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-scroll-area::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
}

.modal-scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db;
}
