@import "tailwindcss";

@theme inline {
  --color-background: #e3ece5;
  --color-foreground: #171717;
  --color-card: #ffffff;
  --color-footer: #e1ede2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #e3ece5;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
